<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TalkDown</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//todc.github.io/todc-bootstrap/dist/css/todc-bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <p><%= flash[:erros] %></p>
    <div class="container-fluid">
      <%= yield %>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
